<footer>
	<div class="row">
		<div class="col-sm-4">
			
		</div>
		<div class="col-sm-4">
			<div class="wrapper midCol">
				<p>
					<a href="tel:0034603271157">+34 603 271 157</a>
					<br>
					<a href="mailto: info@callsunderthesun.com">info@callsunderthesun.com</a>
				</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="wrapper rightCol">
				<p>
					Designed by 
					<a href="https://www.webs4u.net">Webs4u&reg;</a>
					<br>
					2018 all rights reserved&reg;
				</p>
			</div>
		</div>
	</div>
</footer>
<script src="../../assets/jquery.js"></script>
<script src="../../assets/bootstrap.js"></script>
<script src="../../assets/logic.js"></script>
<script src="../../assets/pgwslider.js"></script>