<head lang="es-US">

	<meta charset="UTF-8">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112540899-2"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'UA-112540899-2');
	</script>

	<!-- Structured Data -->
	<script type="application/ld+json">
    	{
        "@context": "http://schema.org",
    	  "@type": "Organization",
    	  "legalName": "Calls Under The Sun",
    	  "description": "This website is first and foremost a resource for call center employees working on the Costa Del Sol in Malaga to help integrate into the local community, find work in one of the many call centers on the coast and also to receive exclusive offers for events and activities.",
    	  "url": "https://www.callsunderthesun.com",
          "image": {
          	"@type": "ImageObject",
          	"url": "https://image.ibb.co/dbvgxx/logo.png"
          },
    	  "address": {
    		"@type": "PostalAddress",
    		"addressLocality": "Mijas, Spain",
    		"postalCode": "29651",
    		"streetAddress": "Benajarafe, 9"
    	  },
    	  "email": "info@callsunderthesun.com",
    	  "telephone": "(+34) 603 271 157",
    	  "founder": {
    		  "@type": "person",
    		  "name": "Benedict Marien",
    		  "telephone": "(+34) 603 271 157"
    		}
    	}
    </script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Benedict Marien">
	<meta name="keywords" content="Call Centers, Malaga, Costa Del Sol, Telemarketing, Calls, Sun">
	<meta name="description" content="We're here to help call center employees on the Costa Del Sol integrate into the local community, get exclusive offers and find employement.">
	<meta name ="robots" content="index,follow">
	<meta name="google-site-verification" content="RYFZtfIHCtZtdIWk-Ae3GhJq7ICOo9z0UhuyKtJDMFo"/>
	<link href='https://www.callsunderthesun.com' rel='canonical'>

	<!-- Facebook Open Graph -->
	<meta property="og:title" content="Calls Under The Sun"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://www.callsunderthesun.net"/>
	<meta property="og:image" content="https://image.ibb.co/j7FpHx/logo_og.png"/>
	<meta property="og:description" content="We're here to help call center employees on the Costa Del Sol integrate into the local community, get exclusive offers and find employement."/>
	<meta property="fb:app_id" content="491075371255008"/>

	<title>Call Centers Malaga</title>
	
	<link rel="shortcut icon" href="../../assets/images/icon.png" type="image/x-icon">
	<link rel="stylesheet" href="../../assets/index.css">
  <link rel="stylesheet" href="../../assets/filterResult.css">
	<link rel="stylesheet" href="../../assets/pgwslider.css">
  <link rel="stylesheet" href="../../assets/bootstrap.css">
  <link rel="stylesheet" href="../../assets/registration.css">
  <link rel="stylesheet" href="../../assets/account.css">

</head>
