<!DOCTYPE html>
<html>

	<% include partials/header.ejs %>

<body>
	<% include partials/navBar.ejs %>

	<div class="banner">
		<div class="wrapper">
			<h1>Account Management</h1>
		</div>
	</div>

	<div class="container">
		<h2>Welcome [User]</h2>
		<div class="row">
			<div class="col-sm-4">
				<img src="http://kiwilandingpad.com/wp-content/uploads/2014/05/avatar-placeholder.png" alt="Profile picture">
			</div>
			<div class="col-sm-8">
				<ul>
					<li>Current Employer: [Call center]</li>
					<li>Location: [City]</li>
				</ul>
			</div>
		</div>
	</div>




	<% include partials/footer.ejs %>
</body>
</html>