<!DOCTYPE html>
<html>
<head>

	<% include partials/header.ejs %>

</head>
<body>
	<% include partials/navBar.ejs %>

	<div class="banner">
		<div class="wrapper">
			<h1>Area Guide</h1>
		</div>
	</div>
	<div class="container welcomeGuide">
		<img class="map" src="../assets/images/map.png" alt="Map">
		<h2>Málaga</h2>
		<p>Málaga is the capital of the Province of Málaga and has a population of 569,130 in 2015 making it the second-most populous city of Andalusia and the sixth-largest in Spain. It's history spans about 2,800 years, making it one of the oldest cities in the world and is the birthplace of the world famous paintor Pablo Picasso and actor Antonio Banderas.
		<br><br>
		After the sun goes down, you can continue to enjoy what the city has to offer. From a quiet tapas bar to a raving club to dance all night. The city has many nightclubs to choose from. We are sure you will take many memorable moments back home with you. The nightlife in Malaga mainly takes place in various areas and with reasonable prices compared to Puerto Banus, Puerto Marina or other places along the coast. The price of a drink in Malaga depends on the place you choose, ranging from 3.50 euros up to 6 euros in the more excusive places.
		<br><br>
		Some interesting activities include:
			<ul>
				<li>Gibralfaro Castle and Roman Theatre.</li>
				<li>The Alcazaba</li>
				<li>The Cathedral of Malaga</li>
				<li>Muelle Uno</li>
				<li>Calle Larios</li>
				<li>Plaza de la Merced</li>
				<li>Picasso Museum</li>
				<li>The CAC Malaga (the modern art museum).</li>
			</ul>
		</p>
		<h2>Torremolinos</h2>
		<p>Torremolinos used to be a poor fishing village before the growth in tourism began in the late 1950s, Torremolinos was the first of the Costa del Sol resorts to be developed and is still the most popular in the region. In 2016, it had 67,786 inhabitants, making it the sixth largest city in the province and it's particularly popular with British, Irish and Scandinavian tourists and has a large British expatriate population.
		<br><br>
		The beach which extends for nearly 8 kilometres, has cycle and skating lanes alongside the fully illuminated promenade and features many chiringuitos and beach bars. The Eastern end of the beach known as Los Alamos has live dance music events throughout the Summer while the easternmost parts of the beach have kite surfing and windsurfing.
		<br><br>
		In addition to its tourism sector, Torremolinos is known locally for its vibrant and liberal nightlife, particularly its numerous bars and clubs catering to the LGBT community. Torremolinos hosted World Pride in 2017 in conjunction with Madrid and holds its own Pride in June, now the third largest in Spain.
		</p>
		<h2>Benalmádena</h2>
		<p>Benalmádena is rich in attractive beaches and interesting places like the Colomares Castle, the 33-meter-tall Buddhist Benalmádena Stupa, the largest Buddhist stupa in Europe, the Benalmádena Marina and the Benalmádena Cable Car. With 67,245 inhabitants according to the INE census of 2016, Benalmádena is the eighth most populous municipality in the province and the third largest metropolitan area, behind Málaga and Torremolinos. The population is concentrated in three main centers: Benalmádena Pueblo, Arroyo de la Miel and Benalmádena Costa.
		<br><br>
		In the early twentyfirst century Benalmádena is one of the main tourist destinations on the Costa del Sol, with leisure facilities including an amusement park called Tivoli, two aquariums: Selwo Marina &amp; Sea Life, a casino: Casino Torrequebrada, a cable car, an indoor ice-skating ring and one of the largest marinas of Andalusia.</p>
		<h2>Fuengirola</h2>
		<p>Fuengirola, in ancient times known as Suel and then Suhayl, is a major tourist resort, with more than 8 km of beaches and a medieval Moorish fortress. In common with much of this coast, it has been the subject of considerable urban development. With an approximate population of 77,480 inhabitants as of 2016, 25% of those come from other countries, mainly European (England, Ireland, Scotland, Finland, Denmark and Sweden, among others), and also from Morocco and Argentina.
		<br><br>
		Some of the interesting activities include the ancient Arabic castle known now as "Sohail Castle", the Bio Park which is a zoo specialising in endangered species, the various Roman ruins, the Fuengirola museum, bullring and abundant nightlife which separates itself in two areas of the town with one area being predominantly Spanish speaking with bars and clubs playing Spanish pop &amp; Latino music, and the other area being English speaking catering more to tourists and migrant workers.
		<br><br>
		Fuengirola also marks the final destination for the railroad that connects most of the Southern coast. Taking public transportation to go further West along the coast from this point onwards would require either taxi or bus.
		</p>
		<h2>Mijas</h2>
		<p>The economy of Mijas is primarily based on tourism, featuring local historical museums and many souvenir shops. The municipality has seven golf courses (four more are under construction), including the La Cala Resort, which is the biggest golf resort in Spain. Having a population of 77,769 as of 2016 there's plenty to do and an impressive nature scene to be explored. Mijas is also home of Mijas Pueblo, a cozy small white-washed village constructed on the mountain-side that attracts thousands of tourists every year.</p>
		<h2>Marbella</h2>
		<p>In 2016 the population of the city was 140,744 inhabitants, making it the second most populous municipality in the province of Málaga and the eighth in Andalusia. It is one of the most important tourist cities of the Costa del Sol and throughout most of the year is an international tourist attraction, due mainly to its climate and tourist infrastructure. Marbella is known as a glamorous resort town and is a favourite location with the rich and famous, boosted by foreign residents who are seduced by the lifestyle. But there's plenty for ordinary folk to see and enjoy too in southern Spain's answer to St Tropez.
		<br><br>
		Just west of Marbella, don't forget to visit the world famous Puerto Banus, home to some of the worlds most expensive and luxurious yachts. Here you will also find top boutiques and designer names such as Luis Vuitton, Dolce &amp; Gabbana, Gucci, Versace and Chanel to name but a few. After your shopping experience, have a drink in one of the many portside bars or take a trip to the casino. At nightfall is when Puerto Banus really comes alive with many of the bars and night clubs open to the very early hours of the morning.
		</p>
		

	</div>

	<% include partials/footer.ejs %>

</body>
</html>