<!DOCTYPE html>
<html>

	<% include partials/header.ejs %>

<body>
	<% include partials/navBar.ejs %>
	<div class="banner">
		<div class="wrapper">
			<h1>General Information</h1>
		</div>
	</div>
	<div class="container welcomeGuide">
		<br>
		<h5>Useful Telephone Numbers</h5>
		<ul>
			<li>Emergency Services - 112</li>
			<li>Police - 091</li>
			<li>Guardia Civil - 062</li>
			<li>Fire brigade - 080 or 085</li>
			<li>Ambulance - 061</li>
			<li>Report traffic jams/weather info - 900 123 505</li>
			<li>Red Cross - 902 222 292</li>
			<li>National Institute of Toxicology - 915 620 420</li>
			<li>Domestic Violence Helpline - 016</li>
			<li>Civil Protection - 1006</li>
			<li>Local Information - 010</li>
			<li>National Information - 11825</li>
			<li>Yellow Pages - 11888</li>
		</ul>
		<br>
		<h5>Train Schedule (Fuengirola-Benalmádena-Torremolinos-Málaga)</h5>
		<a href="http://www.renfe.com/viajeros/cercanias/malaga/index.html">Renfe Cercanias</a>
		<br><br>
		<h5>General Opening Hours</h5>
		<ul>
			<li>Banks are open from 08:15 to 14:00 from Monday to Friday and until 18:00 on Thursdays.</li>
			<li>Shopping malls are open from 10:00 to 22:00 Monday to Saturday.</li>
			<li>Shops in the centre are closed during siesta hours (14:00 - 17:00), but open until 20:00/21:00.</li>
			<li>All shops and supermarkets open on <strong>Sunday</strong> during <strong>Easter, summer &amp; Christmas.</strong></li>
			<li>
				<em>Market days:</em>
				<br>
				<strong>Monday</strong>
				<ul>
					<li>Marbella – Every Monday morning in the town’s main fair ground (near the car dealerships at the entrance to Marbella). You’ll find a bit of everything at this popular market.</li>
				</ul>
				<strong>Tuesday</strong>
				<ul>
					<li>Fuengirola – The Fuengirola market is held at the Fair Ground in the town centre. Parking is a problem but it’s worth the hassle as this is one of the biggest of the Coast’s markets with loads of great stalls.</li>
				</ul>
				<strong>Wednesday</strong>
				<ul>
					<li>Benalmadena Costa/Arroyo de la Miel – Located at the fairground behind Paloma Park, this one is a favourite amongst our hotel guests as it’s within walking distance. Please be advised that this is more of a car boot sale than a traditional flea market.</li>
					<li>La Cala – Located in the fairground just off the A7 coastal road in La Cala de Mijas. You’ll find a bit of everything at this market.</li>
					<li>Estepona – Located next to the fair ground. Again, this is quite a big market and one of the most popular in the area (western Costa del Sol).</li>
				</ul>
				<strong>Thursday</strong>
				<ul>
					<li>Torremolinos – Located next to the Water Park. Just a short taxi ride from Sunset Beach Club.</li>
					<li>San Pedro de Alcántara – Another popular market and well known for its great variety of fresh produce. Parking is a little easier than at some of the other market venues.</li>
				</ul>
				<strong>Friday</strong>
				<ul>
					<li>Arroyo de la Miel – This market is in the Tivoli World car park area. Guests staying at Sunset Beach Club can jump on the M103 bus just outside the hotel to get to the market quickly and cheaply</li>
				</ul>
				<strong>Saturday</strong>
				<ul>
					<li>Fuengirola – This is actually more like a car boot sale (The one on Tuesday is a proper street market) You’ll find some really interesting and bargain items here</li>
					<li>Puerto Banus – Although a bit further down the Coast (45 minute drive) this has to be one of the most popular and visited markets on the Costa del Sol. Lots of great stalls as well as a wide selection of antiques on sale.</li>
				</ul>
				<strong>Sunday</strong>
				<ul>
					<li>Torremolinos – Near the Water Park.</li>
					<li>Fuengirola – Located near the Mosque and the Sohail Castle. This is more of a flea market with lots of leather goods, souvenirs and gifts.</li>
				</ul>
			</li>
		</ul>
		<br>
		<h2>Amenities</h2>
		<h5>Gas Bottles</h5>
		<p>To order a new gas bottle, call the 1st number, it’s an automated message to leave your order. Say the following in <strong>Spanish</strong> and they’ll deliver the following day. In case you are not home, leave the bottle just outside your front door (of the apartment <strong>not</strong> the block) with the exact money under the bottle in an envelope. <strong>PRICE: 16,20 €.</strong>
		<br><br>
		<strong>Soy (your name), quiero un butano en Calle (your address, nº + apartment nº), mi teléfono es (your Spanish tel nº).</strong>
		</p>
		<br><br>
		<h5>Electricity, Water &amp; Rent</h5>
		<p>
			Electricity, depending on how it's contracted, is paid every one or two months.
			<br>
			Water is paid every three months.
			<br>
			Rent <strong>must</strong> be paid before the 5th of every month.
			<br><br>
			All of these are to be paid through the bank by transfer or you can set it up to be paid automatically (direct debit).
		</p>
		<br>
		<h2>Frequently Asked Questions</h2>
		<ol>
			<li>
				<strong>Do I need to talk to my bank before moving?</strong>
				<br>
				Yes, it would be advisable to check with your bank what your daily/weekly and monthly withdrawal limits are when you are abroad.
			</li>
			<br>
			<li>
				<strong>Do I need to provide any paperwork before moving?</strong>
				<br>
				Yes, we need a copy of your passport to prepare the paperwork for your residencia in Spain. Without the residencia you cannot work in Spain, you will also not be able to get internet and a mobile on contract.
			</li>
			<br>
			<li>
				<strong>What do I do to get health coverage in Spain?</strong>
				<br>
				If you are employed by a Danish company, you need to apply for the A1/E101 document with Udbetaling Danmark. You need to bring that document AND your European Health Card.
			</li>
			<br>
			<li>
				<strong>Do we need to facilitate any other information?</strong>
				<br>
				Yes, we need the first name of your mother and father, again for the NIE/Residencia application. We would also need your telephone number.
			</li>
			<br>
			<li>
				<strong>I have children who are moving with me, what documentation do I need to bring?</strong>
				<br>
				You need to bring, birth certificate plus a certified spanish translation and their passports
			</li>
			<br>
			<li>
				<strong>Where can I have the translations best done?</strong>
				<br>
				It's probably cheaper to have the translations done in Spain, and you'll have it back normally within 48 hours.
			</li>
			<br>
			<li>
				<strong>How do I go about getting an NIE/Residencia?</strong>
				<br>
				We can recommend you to someone we are working with at the moment who will guide you effortless throught the entire process of getting your NIE/Residencia, setting up bank account and ordering your internet at home and/or mobile contract.
			</li>
			<br>
			<li>
				<strong>How much would that cost?</strong>
				<br>
				For 80€ all this can be done plus the 10,50 € for the taxes to get the NIE/Residencia
			</li>
			<br>
			<li>
				<strong>How much cost internet at home plus a mobile contract?</strong>
				<br>
				Costs vary depending on your needs, however we find that most people who want internet at home plus a mobile can get a a deal between 30€ - 50€. To get internet at home, you need to install a landline (in most cases), internet is unlimited. If you make international calls, the bill will go up, but there are a lot of other ways to call back home without increasing your phone bill.
			</li>
			<br>
		</ol>
	</div>



	<% include partials/footer.ejs %>

</body>
</html>