<!DOCTYPE html>
<html>

	<% include partials/header.ejs %>

<body>
	<% include partials/navBar.ejs %>
	<div class="banner">
		<div class="wrapper">
			<h1>Residence &amp; Housing</h1>
		</div>
	</div>
	<div class="container welcomeGuide">
		<h2>Rentals</h2>
		<p>Renting in Spain is fairly straightforward. First, you can look for properties on the numerous portals where you'll find all types of properties; apartments, villas, townhouses, etc... One thing to keep in mind is that some properties are brokered by a real estate agency and others you can rent directly from the buyer, both have their pros and cons.
		<br><br>
		<strong>Some well known property portals:</strong>
			<ul>
				<li>
					<a href="https://www.milanuncios.com">Milanuncios</a>
				</li>
				<li>
					<a href="https://www.idealista.com">Idealista</a>
				</li>
				<li>
					<a href="https://www.fotocasa.com">Fotocasa</a>
				</li>
				<li>
					<a href="https://www.enalquiler.com">Enalquiler</a>
				</li>
			</ul>
		</p>
		<h5>Renting Through an Agency</h5>
		<p>Real Estate agencies are the "middle man" when it comes to buying or renting properties. They facilitate the process by translating important documents for you, explaining procedures, making the rental contract and most will continue to give a service once a rental contract has been signed, a kind of help-line when something goes wrong, a problem arises or to answer any questions during the rental duration. In Spain a real estate agent will show you properties according to your desired location, budget, size, bedrooms/bathrooms and any other characteristics and does not expect any form of payment until the rental contract has been signed. The agency commission is usually either half or an entire month of rent amount.
		<br><br>
		<a href="http://www.auroracosta.com">Aurora Costa Real Estate</a> is an ageny that specialises in call center employees and Scandinavian visitors looking to rent properties, they're highly recommended because of their close working relationship with various call centers on the coast and exclusive price reductions with home owners.
		</p>
		<br>
		<h5>Renting Directly from Home Owners</h5>
		<p>This approach may take you longer time to find a home since only a small amount of properties are available without including a real estate agency. Negotiating directly with the owner may result in you saving some money (agency fee), however, bear in mind that most owners in Spain belong to an older generation and don't speak English, if you don't speak Spanish you'd have to bring a translator or you're going to have a hard time understanding each other. This problem would persist throughout the rental period as any issues or problems that might come up would again require a translator. Similarly, the contract, since it wouldn't be made by a real estate agency, might lack validity. And finally, it's not unheard of that some home owners have tried to scam their tenants into overpaying or not giving back security deposits and, without a ligitimate real estate agency, is hard to identify and act upon.
		<br><br>
		Please be aware that renting directly from the home owners does not guarantee optimal prices and you will not have a real estate intermediary to help with problems between you, the tenant, and the owners.
		<br><br>
		<strong>The Rental Process:</strong>
			<ol>
				<li>Go to any of the property portals and find a property you like.</li>
				<br>
				<li>Call the number or send an email and arrange a date and time to see the property.</li>
				<br>
				<li>View the property in person, if you like the property and it matches what you look for, let them know you're interested. If the owners think you're a good fit then the rental process can start.</li>
				<br>
				<li>Agree on a day where the rental contract will be signed.</li>
				<br>
				<li>You send a copy of your passport, NIE/Residencia, last pay slip/work contract, contact details and an address in your home country by email to the real estate agency or owner as soon as possible.</li>
				<br>
				<li>Upon signing the contract the <strong>security deposit(*), agency fee and one month rent must be paid(**)</strong>, if all is in order the contract will be signed by you and the owner, you will each receive a copy and you will receive the keys to your new home.</li>
				<br>
				<li>When the duration of the rental period comes to an end, according to the contract signed, if all bills are paid (water, electricity, internet, gas) and the apartment is in good condition then the security deposit will be returned to you.</li>
				<br>
			</ol>
			* <em>The security deposit amount depends entirely on the owner, it is generally either 1 or 2 months.</em>
			<br><br>
			** <em>Time and again it has been noted that visitors have been taken by surprise because they postponed withdrawing money from the bank until the last day and could not withdraw all of the money on the same day. Please be concious about this as there is usually a maximum amount you can withdraw per day (400€ for most Scandinavian banks) and plan ahead.</em>

		</p>

	</div>
	
	<% include partials/footer.ejs %>
	
</body>
</html>