<!DOCTYPE html>
<html>

	<% include partials/header.ejs %>

<body>
	<% include partials/navBar.ejs %>

	<div class="banner">
		<div class="wrapper">
			<h1>Required Papers</h1>
		</div>
	</div>
	<div class="container welcomeGuide">
			<h2>Where and how to get your legal papers</h2>
			<p>In this section we'll guide you through the process to get all of your necessary paperwork in order, Spain is notorious for it's bureaucracy. It can happen that you will do a lot of running around in search for the different forms and papers if at the start you're not 100% sure which ones you need. To make matters worse a lot of the state workers speak only a basic level of English at best so in an attempt to save you a lot of hastle, outlined here is what you'll be needing.</p>
			<h5>Applying for NIE or Residencia</h5>
			<p>
				<ul>
					<li>NIE - Número de Identificación Extranjero: <strong>Foreigner's Identification Number</strong></li>
					<li>Residencia: <strong>Residency Card</strong></li>
				</ul>
				You just moved to spain or about to and you wonder: Do I need a NIE number or a Residencia? Well according to the Spanish law, if you will remain longer than 3 months in Spain, you should get a Residencia.
				<br><br>
				When you are in Spain 3 months or less per year, you don’t need to get any Spanish number, unless, you want to get a telephone line, internet, Spanish mobile on a contract, buy a property etc.. If you want to work in Spain, either employed or self‐employed, or live here 3 months or longer you should get your <strong>Residencia</strong>. You will need a Residencia to work, set up a Spanish company, buy a Spanish plated car or motorbike and it will give you certain advantages as well.
				<br><br>
				<div class="row">
					<div class="col-md-6">
						<div class="wrapper">
							<strong>Some advantages of being a resident:</strong>
							<ul>
								<li>Pay less bank fees than a non‐resident.</li>
								<li>Residents pay lower taxes on rental income.</li>
								<li>Capital gains tax on selling your property.</li>
								<li>Inheritance tax bonuses.</li>
								<li>Income tax breaks.</li>
								<li>Residents have a tax break on wealth tax.</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div class="wrapper">
							<img class="papers" src="../assets/images/nie.png" alt="residencia card">
						</div>
					</div>
				</div>
				<br>To apply for a Residencia or NIE number you will have to go to the comisaria (police station), in most towns you need an appointment. Please be aware that you must have someone with you who speaks Spanish to translate for you. The type of papers you need to bring with you depends on your employement status (employed, self-employed, retired or other).
				<br><br>
					<div class="row">
						<div class="col-md-6">
							<div class="wrapper">
								<strong>Cost:</strong>
								<ul>
									<li>Nie Number: 9,54€.</li>
									<li>Residencia: 10,71€.</li>
								</ul>
							</div>
						</div>
					</div>
				While a NIE number you can pick up the following day after applying for it, a Residencia you will receive the same moment of the application. Please bear in mind, depending of the town you apply, that you may have to wait 10 to 14 days to get an appointment.
			</p>
			<br>
			<h5>Medical Care - Social Security</h5>
			<p>As a Resident, you can be taken care of under the Spanish medical system or Social Security and <strong>here's how it works: </strong>If you are working for a Spanish company, you automatically are registered in the Spanish Social Security system. The first time you need to go to the Social Security office to get registered and get your Social Security number, you take your Residencia, Passport and allocate some free time, as you never know how long it may take since Social Security offices are only open in the morning.
			<br><br>
			<strong>If you're self employed </strong>Then your Gestor (accountant) will register the administrator of the company with the Social Security office, as long as the Social Security fees are paid you will be covered under the Spanish public health system.
			<br><br>
			You can also opt to get private health insurance instead of the public one, this will ofcourse have a monthly or yearly cost depending on the insurance company but you can enjoy more flexibiity, get doctor's appointments much quicker and wiating times are almost non-existent. Alternatively, If you have a <strong>European Travel Insurance Card</strong>, that can also be used.
			</p>
			<br>
			<h5>Spanish Bank Account</h5>
			<p>You will need a Spanish bank account for various reasons apart from making your life more comfortable. When you live in Spain, it's not practical to internationally withdraw money from your bank account as comission costs start piling up fairly quickly.
			<br><br>
			There are quite a few Spanish banks (Sabadell, La Caixa, Unicaja to name a few) that don’t charge you for opening a bank account, and if you can deposit or transfer a minimum of 700€ or 900€ (depending the bank) every month you won’t even have to pay bank charges or a monthly fee. So there is not a lot of reasons not to open a bank account.
			<br><br>
			<div class="row">	
				<div class="col-md-6">
					<div class="wrapper">
						<img class="papers" src="../assets/images/bank.jpg" alt="ATM withdrawal">
					</div>
				</div>
				<div class="col-md-6">
					<div class="wrapper">
						<strong>Some things that require a Spanish bank account:</strong>
						<ul>
							<li>If you want to get a telephone line and internet.</li>
							<li>If you want a contract from a mobile.</li>
							<li>Pay electricity and water bills.</li>
							<li>Pay car/bike insurance.</li>
							<li>Receiving a salary if you are an employee.</li>
							<li>Paying Social Security fees if you are self-employed.</li>
							<li>Accountants fees to your Spanish Company Account.</li>
						</ul>
					</div>
				</div>
			</div>
			<br>
			And lastly, most banks have international employees who speak English and some other European languages and all banks have got Internet Banking facilities in more than multiple languages.
			</p>
			<br>
			<h5>Townhall Registration</h5>
			<p>This can be considered your first step to integration into Spanish life, registration means that you are an official resident of your community. Second, the empadronamiento is the way that your stay or residence in Spain is verified or accredited – a necessity for a variety of administrative procedures.</p>
			<br>
			<div class="row">
				<div class="col-md-6">
					<div class="wrapper">
						<strong>Services/actions that require you to be registered:</strong>
						<ul>
							<li>Enroll your children in local schools.</li>
							<li>Get married.</li>
							<li>Apply for a local health card.</li>
							<li>Vote.</li>
							<li>Apply for certain visas.</li>
							<li>Apply for certain passports, depending your nationality.</li>
							<li>Apply for residency by way of a general amnesty or arraigo.</li>
						</ul>
					</div>
				</div>
			</div>
			<br>
			It also allows you to take advantage of local leisure facilities with discounted fees at the municipal sports centre and excercise classes. It is often necessary when looking for work via the municipal ‘job center’ equivalent. There are numerous advantages to having a certificate of empadronamiento, like discounts on road tax, council tax (IBI) and more.
			<br><br>
			To register you need to go to your local town hall and produce your <strong>passport, Residencia and a copy of your escritura (title deeds, home owners only) or rental contract</strong> and you will be registered. If you say that you need proof that you are registered, they will issue you with a certificate, signed by the mayor.
			<br><br>
			<h3>Relocation Package</h3>
			<p>We provide call center employees or future employees with a relocation service that will provide you with all the necessary papers in a short timeframe where we do all the work. All that is required from you is the following:
			<br><br>
			For employees working for a Spanish company or an international company with a Spanish contract, they can go straight for their Residencia as long as the company is willing to provide a LoE ‘Letter of Employment’ (We will provide a template).
			<br><br>
				<ol>
					<li>It takes approximately 2 to 3 weeks to get an appointment to go for NIE or Residencia, so the earlier we can set the appointment the better, even before the you have arrived.</li>
					<br>
					<li>We will send a form over to be filled out by you, this is the information we need to fill out the application form. This form together with a copy of your passport needs to be sent to us as soon as possible.</li>
					<br>
					<li>We will inform the manager of your company when the appointments are, so he/she can coordinate with you and know when they are absent.</li>
					<br>
					<li>We will go to the bank to pay the taxes to obtain the NIE or Residencia.</li>
					<br>
					<li>On the day itself, you'll meet with us with your <strong>passport </strong>and the fee at the agreed time and place.</li>
					<br>
					<li>The Residencia will be received the same day, the NIE number will be collected the following day.</li>
					<br>
					<li>Once Residencia or NIE number is in the your possession, we will go to the bank to open a bank account if that is requested and then to the Social Security office to get a Social Security number if that is needed.</li>
				</ol>
			<br>
			<strong>Please contact us if you would like to obtain your NIE/Residencia.</strong>
			<br>
			</p>
			<a href="mailto:info@auroracosta.com">
				<button class="contactBtn btn btn-info">Contact us</button>
			</a>
			<br>

	</div>

	<% include partials/footer.ejs %>

</body>

</html>