<!DOCTYPE html>
<html>

	<% include partials/header.ejs %>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Nav</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>
	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<ul class="navbar-nav mr-auto">
	      		<li class="nav-item active">
	        		<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      		</li>
	      		<li class="nav-item dropdown">
	        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          			Resources
	        		</a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          	<a class="dropdown-item" href="#">Welcome Guide</a>
			          	<a class="dropdown-item" href="#">Area Guide</a>
			          	<a class="dropdown-item" href="#">Required Papers</a>
			          	<a class="dropdown-item" href="#">Residence &amp; Housing</a>
			          	<a class="dropdown-item" href="#">Work Contracts</a>
			          	<a class="dropdown-item" href="#">General Info</a>
			        </div>
	        		<li class="nav-item">
	        			<a class="nav-link" href="#">Link</a>
	      			</li>
	      		</li>
	    	</ul>
	  	</div>
	</nav>
	<div class="banner">
		<div class="wrapper">
			<h1>Welcome Guide</h1>
		</div>
	</div>
	<div class="container welcomeGuide">
		<h2>Welcome to Málaga!</h2>
		<p>So you've recently arrived in Malaga or are planning to move here in the near future and you're not quite sure what to expect. You've heard great things from friends or relatives that live here and you'd like to integrate as quickly and effortlessly as possible. Fear not as we're here to give you all the necessary information and explain the process to you step-by-step so that you spend less time running around wondering what to do and more time soaking up the sun on the beach.</p>
		<br>
		<h5>Arrival at Málaga Airport</h5>
		<p>When choosing transport from the airport there's two main things to take into consideration: Price and destination. If you take the train from the airport you can get to most coastal cities up until Fuengirola which is the end station, these include the cities of Málaga center, Torremolinos, Benalmádena, Fuengirola and their respective suburbs. The train shouldn't cost more than 4,50€.
		<br><br>
		If you need to go further than Fuengirola, i.e: Marbella, you would need to get a taxi or the bus. A taxi is of course more expensive, with a ride from the airport to Fuengirola costing around 45€ to give you an example, be sure to ask the taxi driver for a price estimate before departing.
		</p>
		<br>
		<h5>Climate</h5>
		<p>The Málaga province partly lies in an area known as the "Costa Del Sol", which when translated literally means "Coast of the Sun". It's named that way for a very good reason as there's over 300 days of sunshine per year and the summer is long and warm. Since Málaga is a coastal city, and like all coastal regions, the temperature is regulated by the sea meaning that winters are warmer and summers are cooler relative to cities further inland. You can expect average highs in August of 32°C, while two hours inland, in Sevilla, average highs in August are around 37°C!
		<br><br>
		The winter usually starts around November and ends in April, the coldest months typically being January and February. Average day-time highs are around 16°C and 7°C night-time lows.
		</p>
		<br>
		<h5>Geography &amp; Demographic</h5>
		<p>Firstly, Málaga is a province but it's also a city - and Málaga is the capital of the Province of Málaga, in the Autonomous Community of Andalucía. It's the 6th largest city in Spain and the largest southernmost city in Europe. Málaga's history spans about 2,800 years, making it one of the oldest cities in the world, and the urban area, stretching mostly along a narrow strip of coastline, has a population of 1,066,532 on 827.33 square kilometres.
		<br><br>
		<h5>Lifestyle</h5>
		<p>The largest job sector in Málaga is tourism thus the lifestyle here is pretty laid back and relaxed, there's no rush and, as opposed to other large cities where everyone seems to be in a hurry to get somewhere, most people take their time and walk around outside with a smile on their face. People here are generally open and ready to help should the need arise and most of the younger generation speaks a decent level of English but will greatly appreciate if you attempt to communicate in Spanish, even if it's very basic.
		<br><br>
		There's always something to do - be it an event, a party or an activity organised by the town hall, here in Málaga you'll only be bored if you choose to lock yourself in your room and throw away the key. Regarding the nightlife, it's diverse and cheap relative to other big European cities, you can find anything from small cafeterias and cheap shot bars to luxurious restaurants and high-end nightclubs.
		</p>
		<br>
		<h5>An International Community</h5>
		<p>It doesn't matter where you come from, you'll always find other people here from your country. Málaga was recently announced as the "Call center paradise" for Scandinavian countries (and Finland) so there's a big community of like-minded people waiting for you. There's Danish, Swedish, Norwegian and Finnish schools here, grocery shops selling typical Scandinavian products, Swedish hairdressers, Norwegian beauty salons and of course a lot of Scandinavian owned bars and clubs.</p>
	</div>


	<% include partials/footer.ejs %>

</body>

</html>