<!DOCTYPE html>
<html>

	<% include partials/header.ejs %>

<body>
	<% include partials/navBar.ejs %>
	<div class="banner">
		<div class="wrapper">
			<h1>Work Contracts</h1>
		</div>
	</div>
	<div class="container welcomeGuide workContracts">
		<h2>Overview</h2>
		<p>There are 4 different types of Spanish work contracts, on this page we'll give an overview of each one and provide you a download link with the Spanish version and a translated English version. Keep this in mind when you sign a contract at your future job since the work contract <strong>must be in Spanish for it to be valid</strong> but having an English version for reference can help you understand some of your rights and what you're signing.</p>
		<br>
		<h5>Contrato Indefinido - Indefinite Contract</h5>
		<p>Indefinite contracts are contracts that are concluded without establishing time limits in terms of the duration of the contract. They are therefore adequate to offer stability, commitment and good working conditions.</p>
		<div class="row">
			<div class="col-sm-6">
				<h6>Spanish Version</h6>
				<a href="../assets/downloads/indefinido.pdf" target="_blank">
					<img src="../assets/images/indefinido.jpg" alt="Indefinite Contract">
				</a>
				<br>
			</div>
			<div class="col-sm-6">
				<h6>English Version</h6>
				<a href="../assets/downloads/indefinido-en.pdf" target="_blank">
					<img src="../assets/images/indefinido.jpg" alt="Indefinite Contract">
				</a>
				<br>
			</div>
		</div>
		<br>
		<h5>Contrato Temporal - Temporary Contract</h5>
		<p>This type of contract is used only when the job position is of a temporary nature, in other words, the offered job position has a defined end date.</p>
		<div class="row">
			<div class="col-sm-6">
				<h6>Spanish Version</h6>
				<a href="../assets/downloads/temporal.pdf" target="_blank">
					<img src="../assets/images/temporal.jpg" alt="Indefinite Contract">
				</a>
				<br>
			</div>
			<div class="col-sm-6">
				<h6>English Version</h6>
				<a href="../assets/downloads/temporal-en.pdf" target="_blank">
					<img src="../assets/images/temporal.jpg" alt="Indefinite Contract">
				</a>
				<br>
			</div>
		</div>
		<br>
		<h5>Contrato Para la Formación y el Aprendizaje - Contract for Training and Learning</h5>
		<p>This type of contract is solely used in the event of a company taking on an employee to learn and improve a particular skillset. There are strict laws that severely limit as to who and how they can employ under this type of contract.</p>
		<div class="row">
			<div class="col-sm-6">
				<h6>Spanish Version</h6>
				<a href="../assets/downloads/formacion.pdf" target="_blank">
					<img src="../assets/images/formacion.jpg" alt="Indefinite Contract">
				</a>
				<br>
			</div>
			<div class="col-sm-6">
				<h6>English Version</h6>
				<a href="../assets/downloads/formacion-en.pdf" target="_blank">
					<img src="../assets/images/formacion.jpg" alt="Indefinite Contract">
				</a>
				<br>
			</div>
		</div>
		<br>
		<h5>Contrato en Prácticas - Internship Contract</h5>
		<p>Interns that work for a company under this type of contract must do so within the first 5 years of graduating and are generally and legally paid less than than the minimum wage. It is forbidden that these type of contracts are of a duration longer than 2 years.</p>
		<div class="row">
			<div class="col-sm-6">
				<h6>Spanish Version</h6>
				<a href="../assets/downloads/practicas.pdf" target="_blank">
					<img src="../assets/images/practicas.jpg" alt="Indefinite Contract">
				</a>
				<br>
			</div>
			<div class="col-sm-6">
				<h6>English Version</h6>
				<a href="../assets/downloads/practicas-en.pdf" target="_blank">
					<img src="../assets/images/practicas.jpg" alt="Indefinite Contract">
				</a>
				<br><br>
			</div>
		</div>
	</div>

	<% include partials/footer.ejs %>

</body>
</html>