.account .container h2 {
	text-align: center;
	margin: 40px 0 20px;
}

.account .container .row .col-md-8 .wrapper {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.account .container .userInfo {
	width: 70%;
    margin: 40px auto 0;
}

.account .container .userInfo .row {
	margin: 5px 0;
}

.account .container .userInfo .row:nth-of-type(7) {
	border-top: 1px solid black;
}

.account .container .userInfo .row:nth-of-type(7) input {
	background-color: white;
	border: 1px solid black;
}

.account .container .userInfo .row:nth-of-type(8) input {
	background-color: white;
	border: 1px solid black;
}

.account .container .userInfo .row:nth-of-type(9) input {
	background-color: white;
	border: 1px solid black;
}

.account .container .userInfo .row input {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    padding-left: 5px;
}

.account .container .userInfo .row p {
	margin: 10px 0;
}

.account .container .userInfo .pswd {
	display: none;
}

.account .container .userInfo .btnWrapper {
	margin: 20px auto 0;
}

.account .container .userInfo .btnWrapper button, .submit {
	width: 100px;
	height: 38px;
	border-radius: 0.25rem;
	color: white;
	cursor: pointer;
	border: none !important;
}

.account .container .userInfo .btnWrapper .btn.btn-danger {
	width: 160px;
}

.account .container .userInfo .btnWrapper .submit {
	background-color: #17a2b8;
}

.account .container .userInfo .btnWrapper .submit:hover {
	background-color: #148a9c;
}

.account .container .userInfo .row:hover {
	background-color: rgba(211, 211, 211, 0.5);
	border-radius: 10px;
}

.account .container .userInfo .row:last-of-type:hover {
	background-color: transparent;
}

.account .container .userInfo .row:hover button {
	display: initial;
}

.account .edit {
	border: 1px solid black !important;
}

.account .hidden {
	display: flex !important;
}

@media screen and (max-width: 767px) {

	.account .container .row .col-md-4 img {
		display: block;
		margin: 0 auto;
	}

	.account .container .row .col-md-8 p {
		text-align: center;
		margin-top: 10px;
	}

	.account .container .userInfo .btnWrapper {
		width: 200px;
    	margin: 20px auto 0;
    	text-align: center;
	}

	.account .container .userInfo .btnWrapper button, .submit {
		width: 160px;
		margin: 2px 0;
	}

	.account .container .userInfo .btnWrapper .submit {
		top: unset;
    	transform: unset;
	}
}

@media screen and (max-width: 575px) {

	.account .container .userInfo .row .col-sm-6, p, input {
		text-align: center;
	}

	.account .container .userInfo .btnWrapper {
		margin-top: 20px;
	}

	.account .container .userInfo .row p {
		margin: 2px 0;
	}

	.account .container .userInfo .row {
		margin: 20px 0;
	}
}